<div class="text-center">  
    <h2 class="display-4">Catalogo de Produtos</h2>
    <img src="~/images/png-transparent-time-management-infographic-time-and-business-people-business-woman-people-business-vector.png"/>
</div>
